<div class="container">
    <h1 class="text-center">Add Blog</h1>
    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Add Title"  [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <!-- <input type="text" name="content" class="form-control" placeholder="Add Content" #content> -->
            <textarea name="content" class="form-control" rows="15" cols="100" [(ngModel)]="content"></textarea>
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            <input type="text" name="author" class="form-control" placeholder="Author Name"  [(ngModel)]="author">
        </div>
        <div class="form-group">
            <label for="Image">Add Featured Image:</label>
            <input (change)="uploadImage($event)" type="file" name="featured-image" class="form-control" placeholder=""  [(ngModel)]="featuredImage">
        </div>
        <button type="button" (click)="addBlog()" class="btn btn-primary"  >Submit</button>
    </form>
</div>
